table {
    border-collapse: collapse;
}

td, th {
    border: 1px double black;
    /* padding: 46px; */
    background-color: #1F2833; 
    height: 100px;
    width: 100px;
}

th {
    font-weight: bold;
    background-color: #45A29E;
    color: black; 
    font-style : bold; 
}

#container {
    display: grid;
    grid-template-areas:
        "header header header"
        "planner announcements announcements"
        "planner calendar calendar"
        "planner calendar calendar";
    grid-gap: 40px; 
    grid-template-columns: 2.5fr 1fr 1fr;
    grid-template-rows: .2fr 2fr 1fr 2fr;
    background: #0B0C10;
    font-family: 'IBM Plex Mono', monospace;
    padding : 0px 150px 0px 150px; 
}

#planner {
    grid-area: planner;
    background-color: #1F2833; 
    color: #66FcF1; 
    border : double; 
    border-color:#66FcF1; 
    border-width: 1px; 
}
#announcements{
    grid-area: announcements; 
    background-color: #1F2833; 
    color: #66FcF1; 
    border : double; 
    border-color:#66FcF1; 
    border-width: 1px; 
}
#calendar{
    grid-area: calendar;
    background: #1F2833; 
    color: #C5C6C7; 
    font-family: 'Roboto Mono', monospace;
    border : double; 
    border-color:#66FcF1;
    border-width: 1px; 
}


#planner { 
    color: #66FcF1; 
    text-align: center; 
}

#title{
    grid-area: header; 
    color: #66FcF1;
    text-align: center; 
    font-size: 20px; 
    text-decoration: underline;
    text-decoration-style: wavy; 
}

h1{
    color: #66FcF1; 
    text-align: center;
    font-size: 50px;
}

.underline {
    border : double; 
    border-top : none; 
    border-right: none; 
    border-left: none; 
    border-width: 1px; 
}

.test{
    float: right;
    margin-right: 10px;
    margin-top: -50px;
}

#inp{
    float: bottom; 
    margin-top: 1000px;
}

form{
    float: flex; 
}

input{
    height: 40px;
    text-align: center;
    color: black;
    flex-grow: 1;
}